
.nav {
    height: 70px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.logo{
    font-size: x-large;
    color: #E3B748;
    margin-right: 5px;
}
.text{
    font-size: 12px;
    font-family: cursive;
}
.home{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}
